<ActionBar title="Emergency" class="action-bar">
</ActionBar>

<StackLayout>
    <Label textWrap="true" class="body m-20" text="Στην Ελλάδα, το 112 λειτουργεί όλο το 24ωρο, 7 ημέρες την εβδομάδα και συνδέει τον καλούντα, ανάλογα με το περιστατικό έκτακτης ανάγκης που αυτός αναφέρει με:">
    </Label>
    <Button class="btn btn-primary" text="την Αστυνομία"></Button>
    <Button class="btn btn-primary" text="τo Πυροσβεστικό Σώμα"></Button>
    <Button class="btn btn-primary" text="το ΕΚΑΒ"></Button>
    <Button class="btn btn-primary" text="το Λιμενικό Σώμα"></Button>
    <Button class="btn btn-primary"
        text="την Εθνική Τηλεφωνική Γραμμή SOS 1056"></Button>
    <Button class="btn btn-primary"
        text="την Ευρωπαϊκή Γραμμή για τα εξαφανισμένα παιδιά 116000">
    </Button>
</StackLayout>