<ActionBar title="Feeds" class="action-bar">
</ActionBar>

<ScrollView class="page">
    <StackLayout>
        <CardView *ngFor="let item of anouncements" class="card"
            elevation="40" radius="10" ios:shadowRadius="3">
            <StackLayout class="card-layout">
                <Label class="h2" [text]="item.title"></Label>
                <Label class="body" textWrap="true" [text]="item.description">
                </Label>
            </StackLayout>
        </CardView>
    </StackLayout>
</ScrollView>